In [ ]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/content'

In [ ]:
!pip install -q kaggle

In [ ]:
!kaggle datasets download -d mirichoi0218/insurance

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /content/kaggle.json'
insurance.zip: Skipping, found more recently modified local copy (use --force to force download)

In [ ]:
!unzip /content/insurance.zip

Archive:  /content/insurance.zip
replace insurance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: insurance.csv

In [ ]:
import pandas as pd
df=pd.read_csv('/content/insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
print(df.columns) #print the columns of datasets

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [ ]:
df.isna().sum() #check for Na values     # false menas no na values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
df = df.drop('region',axis=1)

In [ ]:
df

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [ ]:
df

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [ ]:
from sklearn import preprocessing        # as we want to predict chrages it is linear regression
from sklearn.preprocessing import LabelEncoder

In [ ]:
#now encoding catrgorical data ie ML is based on mathematical equation,keep the categories will cause some problem so convert into labels

In [ ]:
le=preprocessing.LabelEncoder()                  #le is object  of class preprocessing.LabelEncoder()
print(df['smoker'].unique())                 
df['smoker']=le.fit_transform(df['smoker'])       #encode labels in column
df['smoker'].unique()                             #all type of unique values in smoker column (like yes,no)   #yes=1,no=0

['yes' 'no']

array([1, 0])

In [ ]:
df

      age     sex     bmi  children  smoker      charges
0      19  female  27.900         0       1  16884.92400
1      18    male  33.770         1       0   1725.55230
2      28    male  33.000         3       0   4449.46200
3      33    male  22.705         0       0  21984.47061
4      32    male  28.880         0       0   3866.85520
...   ...     ...     ...       ...     ...          ...
1333   50    male  30.970         3       0  10600.54830
1334   18  female  31.920         0       0   2205.98080
1335   18  female  36.850         0       0   1629.83350
1336   21  female  25.800         0       0   2007.94500
1337   61  female  29.070         0       1  29141.36030

[1338 rows x 6 columns]

In [ ]:
df.shape

(1338, 6)

In [ ]:
#splitting the dataset

In [ ]:
X=df.drop(['sex','bmi','charges'],axis=1)

In [ ]:
y = df['charges']

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [ ]:
X.ndim

2

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,shuffle=True)

In [ ]:
x_test

      age  children  smoker
309    41         2       0
1224   41         1       0
543    54         0       1
805    45         0       0
305    29         2       0
...   ...       ...     ...
1152   43         3       1
271    50         2       1
839    59         0       0
1039   19         2       0
515    58         0       0

[268 rows x 3 columns]

In [ ]:
x_train

      age  children  smoker
102    18         0       0
687    40         0       0
370    61         0       0
448    40         0       0
331    52         0       1
...   ...       ...     ...
547    54         2       0
1186   20         3       1
1231   20         0       1
1099   25         1       0
728    18         0       0

[1070 rows x 3 columns]

In [ ]:
y_train

102     21344.84670
687      5438.74910
370     13415.03810
448      5910.94400
331     24393.62240
           ...
547     11538.42100
1186    37465.34375
1231    20167.33603
1099     3227.12110
728      2217.60120
Name: charges, Length: 1070, dtype: float64

In [ ]:
y_test

309      7749.15640
1224     6858.47960
543     63770.42801
805      7731.85785
305     19442.35350
           ...
1152    40941.28540
271     42856.83800
839     12622.17950
1039    22493.65964
515     11362.75500
Name: charges, Length: 268, dtype: float64

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 102 to 728
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1070 non-null   int64
 1   children  1070 non-null   int64
 2   smoker    1070 non-null   int64
dtypes: int64(3)
memory usage: 33.4 KB

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
reg=linear_model.LinearRegression()

In [ ]:
reg.fit(x_train,y_train)

LinearRegression()

In [ ]:
reg.coef_

array([  266.55032321,   487.73061965, 23760.42400794])

In [ ]:
reg.predict([[59,3,0]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([14488.37264741])

In [ ]:
reg.score(x_test,y_test)

0.7012397565546356